REDIS_URL="redis://localhost:6379"

DATABASE_URL=<your_postgresql_connection_string>

BETTER_AUTH_SECRET=<your_better_auth_secret>
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=<your_github_oauth_client_id>
GITHUB_CLIENT_SECRET=<your_github_oauth_client_secret>


RESEND_API_KEY=<your_resend_api_key>

POLAR_ACCESS_TOKEN=<your_polar_access_token>
POLAR_WEBHOOK_SECRET=<your_polar_webhook_secret>
POLAR_ENVIRONMENT=production

# Job Listing Product IDs (Production)
POLAR_JOB_STANDARD_ID=4ca0256a-62c8-4110-8aaf-b27e7d96b6cb
POLAR_JOB_FEATURED_ID=4504bcd0-576c-423f-959c-9ce4ae1ae685
POLAR_JOB_PREMIUM_ID=c39ab0dd-f9c4-4e0d-bd37-a722e490b1b8

# Subscription Product IDs
POLAR_SUBSCRIPTION_ALERTS_ID=<your_alerts_subscription_product_id>

NEXT_PUBLIC_APP_URL=https://yourdomain.com