REDIS_URL="redis://localhost:6379"

DATABASE_URL=<your_postgresql_connection_string>

BETTER_AUTH_SECRET=<your_better_auth_secret>
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=<your_github_oauth_client_id>
GITHUB_CLIENT_SECRET=<your_github_oauth_client_secret>


RESEND_API_KEY=<your_resend_api_key>

POLAR_ACCESS_TOKEN=<your_polar_access_token>
POLAR_WEBHOOK_SECRET=<your_polar_webhook_secret>
POLAR_ENVIRONMENT=sandbox

NEXT_PUBLIC_APP_URL=http://localhost:3000